@model IEnumerable<Silicus.Finder.Web.ViewModel.ProjectListViewModel>

@{
    ViewBag.Title = "ProjectList";
}

<h2>ProjectList</h2>

<p id="CreateButtonCSS">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </th>
        <th>           
            @Html.DisplayNameFor(model => model.EngagementManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManagerId)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="">@Html.DisplayFor(modelItem => item.ProjectName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngagementType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedEndDate)
        </td>        
        <td>     
            @{
                var fullName = Model.Where(p => p.Employees.Any(e => e.EmployeeId == p.EngagementManagerId)).Select(e => e.Employees.Select(em=>em.FirstName + " " + em.LastName)).FirstOrDefault();
             }

            @Html.DisplayFor(modelItem => fullName)

        </td>
        <td>
            @{
                var projectManagerName = Model.Where(p => p.Employees.Any(e => e.EmployeeId == p.EngagementManagerId)).Select(e => e.Employees.Select(em => em.FirstName + " " + em.LastName)).FirstOrDefault();
            }

            @Html.DisplayFor(modelItem => projectManagerName)
        </td>   
        <td>
            <a href="">
                <img src="~/Images/Project/project-archive.png" width="22" height="22" />
            </a>
        </td>     
    </tr>
}

</table>
