@model IEnumerable<Silicus.Finder.Models.DataObjects.SkillSet>

@{
    ViewBag.Title = "GetAllSkillSet";
}

<h2>Technologies</h2>

<p>
    @Html.ActionLink("Add New Technology", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.Name, "Details", new { id = item.SkillSetId })
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteSkillSet", new { skillSetId = item.SkillSetId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Cancel", "Dashboard", "admin", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
