@model IEnumerable<Silicus.Finder.Models.DataObjects.SkillSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Technology", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @Html.ActionLink("Download", "#", new { id = "star"} )

    <div id="dModal" class="modal hide fade" aria-hidden="true">
        <div class="modal-body">
            @using (Html.BeginForm("getCSV", "Download", new { filename = data - id }, FormMethod.Post, null))
            {
                <button id="btnCSV" type="submit">Download CSV</button>
            }
        </div>
    </div>
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkillSetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SkillSetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkillSetId })
        </td>
    </tr>
}*@

</table>
