<div class="container" style="padding-right:20px;padding-left:20px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="~/Images/silicus/Dashboard.jpg" />
        </div>
    </div>
</div>
<div class="container" style="height:100vh;padding:20px;padding-right:80px;padding-left:80px;position:fixed">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="border:solid;border-color:gray;  height:400px">
            @using (Html.BeginForm("Index", "Employee"))
            {
                <div>
                    <button style="width:100%;height:80px;background-color:#666666">Employees</button>
                </div>
                <button style=" width:50%;  height:80px;margin-left:50px"><span class="fa fa-users fa-5x"></span></button>

            }
            @using (Html.BeginForm("SearchEmployeeByName", "Employee", FormMethod.Post, new { name = @Html.TextBox("Employee Name") }))
            {

                <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Employee Name" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                    </span>
                </div>

            }

            <div style="height:20px;"><h2 style="color:black">@ViewBag.NumberOfEmployee Employees</h2></div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-4" style="height:400px;border:solid;border-color:gray;">
            @using (Html.BeginForm("GetProjectList", "Projects"))
            {

                <div>
                    <button style="width:100%;height:80px;background-color:#666666;">Projects</button>
                </div>
                <button style=" width:50%;  height:80px;margin-left:50px"><span class="fa fa-pencil-square-o fa-5x"></span></button>

            }
            @using (Html.BeginForm("GetProjectsListByName", "Projects", FormMethod.Post, new { name = @Html.TextBox("Project Name") }))
            {

                <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Enter Project Name" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                    </span>
                </div>

            }
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="border:solid;border-color:gray;  height:400px">
            @using (Html.BeginForm("Index", "Technology"))
            {
                <div>
                    <button style="width:100%;height:80px;background-color:#666666;">Technologies</button>
                </div>
                <button style=" width:50%;  height:80px;margin-left:50px"><span class="fa fa-cogs fa-5x"></span></button>

            }
            @using (Html.BeginForm("SearchEmployeeByName", "Employee", FormMethod.Post, new { name = @Html.TextBox("Employee Name") }))
            {

                <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Employee Name" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                    </span>
                </div>
            }

            <div style="height:20px;"><h2 style="color:black">@ViewBag.NumberOfEmployee Employees</h2></div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $("#submit").click(function () {
            var data = $("#name").val();
            if (data.length == 0) {
                alert("Please enter search name");
                return false;
            }
        });
    });

</script>

<script>

    $(document).ready(function () {
        document.getElementById("name").value = "";
    });

</script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
