@*@using Kendo.Mvc.UI;
@{
    var statusData = Html.Partial("/Views/Admin/_partialViewDashboard.cshtml");
    var sendEmail = Html.Partial("/Views/Admin/_partialViewSendMail.cshtml");
    ViewBag.Title = "Admin Dashboard";
    var user = Html.Partial("/Views/Admin/_partialViewUser.cshtml");
    var roles = Html.Partial("/Views/Admin/_partialViewRoles.cshtml");
}*@
@*<div class="main-content">*@
<div class="container" style="padding-right:20px;padding-left:20px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <img src="~/Images/silicus/Dashboard.jpg" />
    </div>

                            </div>

</div>



<div class="container" style="height:100vh;padding:20px;padding-right:80px;padding-left:80px;position:fixed">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="border:solid;border-color:gray;  height:400px">
            @using (Html.BeginForm("Index", "Employee"))
            {
                    <div>
                        <button style="width:100%;height:80px;background-color:#666666">Employees</button>
                    </div>
                    <button style=" width:50%;  height:80px;"><span class="fa fa-users fa-5x"></span></button>



}
            @using (Html.BeginForm("SearchEmployeeByName", "Employee", FormMethod.Post, new { name = @Html.TextBox("Employee Name") }))
            {

                    <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Employee Name" })
                        <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                        </span>
        </div>

            }

            <div style="height:20px;"><h2 style="color:black">@ViewBag.NumberOfEmployee Employees</h2></div>
	</div>


        <div class="col-md-4 col-sm-4 col-xs-4" style="height:400px;border:solid;border-color:gray;">

            @using (Html.BeginForm("Dashboard", "Admin"))
            { }
            @using (Html.BeginForm("Index", "Projects"))
            {
               

                            <div>
                                <button style="width:100%;height:80px;background-color:#666666">Projects</button>
                            </div>
                            <button style=" width:50%;  height:80px;"><span class="fa fa-pencil-square-o fa-5x"></span></button>
               


            }
            @using (Html.BeginForm("SearchEmployeeByName", "Employee", FormMethod.Post, new { name = @Html.TextBox("Employee Name") }))
            {

                            <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Employee Name" })
                                <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                                </span>
                            </div>
                   
            }
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="border:solid;border-color:gray;  height:400px">
            @using (Html.BeginForm("Dashboard", "Admin"))
            {
                <div>
                                <button style="width:100%;height:80px;background-color:#666666">Technologies</button>
                            </div>
                            <button style=" width:50%;  height:80px;"><span class="fa fa-cogs fa-5x"></span></button>

            }
            @using (Html.BeginForm("SearchEmployeeByName", "Employee", FormMethod.Post, new { name = @Html.TextBox("Employee Name") }))
            {

                            <div class="input-group" style="padding-top:100px">
                    @Html.TextBox("name", "", new { id = "name", @class = "form-control", @placeholder = "Employee Name" })
                                <span class="input-group-btn">
                        <button class="btn btn-default" id="submit" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                                </span>
                            </div>
                   
            }

            <div style="height:20px;"><h2 style="color:black">@ViewBag.NumberOfEmployee Employees</h2></div>
        </div>

						</div>
	</div>

					


            @*<div class="fluid mt20">
        <div class="kendogrid">
    @(Html.Kendo().TabStrip()
    .Name("Tabs")
    .Items(tabstrip =>
    {
             
        tabstrip.Add().Text("Users")
            .Selected(true)
           .Content(user.ToString());

        tabstrip.Add().Text("Roles")
          .Content(roles.ToString());


        tabstrip.Add().Text("Projects").Action("Index", "Projects");
        
        tabstrip.Add().Text("Technologies").Action("Index", "Technology");
         
    })
    )
	    </div> 
                </div>*@
@*</div>*@ <!-- /main-content -->
<script>
        //register custom validation rules
    //(function ($, kendo) {
    //    $.extend(true, kendo.ui.validator, {
    //        rules: { // custom rules
    //            productnamevalidation: function (input, params) {
    //                //check for the rule attribute
    //                if (input.filter("[data-val-projectnamevalidation]").length && input.val()) {
    //                    return /^[A-Z]/.test(input.val());
    //                }
    //                return true;
    //            }
    //        },
    //        messages: { //custom rules messages
    //            productnamevalidation: function (input) {
    //                // return the message text
    //                return input.attr("data-val-projectnamevalidation");
    //            }
    //        }
    //    });
    //})(jQuery, kendo);

    ////show server errors if any
    //function error_handler(e) {
    //    if (e.errors) {
    //        var message = "Errors:\n";
    //        $.each(e.errors, function (key, value) {
    //            if ('errors' in value) {
    //                $.each(value.errors, function () {
    //                    message += this + "\n";
    //                });
    //            }
    //        });
    //        alert(message);
    //    }
    //}

    $(document).ready(function () {
        $("#submit").click(function () {
            var data = $("#name").val();
            if (data.length == 0) {
                alert("Please enter search name");
                return false;
                }
            });
    });

    // function abc() { location.href='@Url.Action("SearchEmployeeByName", "Employee")'}

</script>