@model Silicus.Finder.Models.DataObjects.Employee

@{
    ViewBag.Title = "Add Project";
}

<h2>Add Project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        <div class="form-group">
            @Html.Label("Employee", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.EmployeeId)
                @ViewBag.Employee
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Projects, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectId, (SelectList)ViewBag.Projects, new { style = "width: 250px" })
                @Html.ValidationMessageFor(model => model.ManagerRecommendation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RedirectToList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
