@model Silicus.Finder.Web.ViewModel.EmployeeViewModel

@using Kendo.Mvc.UI;

@{
    var skills = Html.Partial("~/Views/Employee/EmployeeSkillSetDetails.cshtml", Model.SkillSets);
    var projects = Html.Partial("~/Views/Employee/EmployeeSkillSetDetails.cshtml", Model.SkillSets);
}

<h2>Employee Details</h2>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <div class="dl-horizontal">


        <div class="details-header">Name:</div>
        <div class="details-content">
            @Html.DisplayFor(model => model.FirstName)

            @Html.DisplayFor(model => model.MiddleName)

            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="details-header">
            @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
        </div>

        <div class="details-content">
            @Html.DisplayFor(model => model.TotalExperienceInMonths)
        </div>

        <div class="details-header">
            @Html.DisplayNameFor(model => model.SilicusExperienceInMonths)
        </div>

        <div class="details-content">
            @Html.DisplayFor(model => model.SilicusExperienceInMonths)
        </div>

        <div class="details-header">
            @Html.DisplayNameFor(model => model.HighestQualification)
        </div>

        <div class="details-content">
            @Html.DisplayFor(model => model.HighestQualification)
        </div>

        <div class="details-header">
            @Html.DisplayNameFor(model => model.CubicalLocation)
        </div>

        <div class="details-content">
            @Html.DisplayFor(model => model.CubicalLocation)
        </div>
        
        <div class="details-header">
            @Html.DisplayNameFor(model => model.Contact)
        </div>

        <div class="details-content">
            @Html.DisplayFor(model => model.Contact)
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { employeeId = 1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>




<div class="fluid mt20">
    <div class="kendogrid">
        @(Html.Kendo().TabStrip()
        .Name("Tabs")
        .Items(tabstrip =>
            {
                tabstrip.Add().Text("Skills")
                    .Selected(true)
                    .Content(skills.ToString());

                tabstrip.Add().Text("Projects")
                    .Content(projects.ToString());
            })
        )
    </div>
</div>

