@model Silicus.Finder.Models.DataObjects.Contact

<div>
    <hr/>
    <h3>Contact</h3>
    <div>
        <span class="details-header">
            @Html.DisplayNameFor(model => model.EmailId)
        </span>
        <span>:</span>
        <span class="details-content">
            @Html.DisplayFor(model => model.EmailId)
        </span>
    </div>
    <div>
        <span class="details-header">
            @Html.DisplayNameFor(model => model.SkypeId)
        </span>
        <span>:</span>
        <span class="details-content">
            @Html.DisplayFor(model => model.SkypeId)
        </span>
    </div>
    <div>
        <span class="details-header">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </span>
        <span>:</span>
        <span class="details-content">
            @Html.DisplayFor(model => model.PhoneNumber)
        </span>
    </div>
    <div>
        <span class="details-header">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </span>
        <span>:</span>
        <span class="details-content">
            @Html.DisplayFor(model => model.MobileNumber)
        </span>
    </div>

</div>