@model IEnumerable<Silicus.Finder.Web.ViewModel.EmployeesListViewModel>

@{
    ViewBag.Title = "GetAllEmployees";
}
<div id="modal-container" class="k-popup" tabindex="-1" role="dialog">
    <div class="modal-content" style="position:fixed !important">
    </div>
</div>
<br/>
<br/>

<h4>List Of Employees</h4>

<br />
<p>
    <input type="submit" value="Add Employee" style="margin-left:850px"  class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Create", "Employee") + "'");" />

</p>
<div id="my-dialog"></div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilicusExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighestQualification)
        </th>
        <th>
            @Html.DisplayName("Email Id")
        </th>
        <th>
            @Html.DisplayName("Contact")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CubicleLocationId)
        </th>
        <th>
            @Html.DisplayName("ProjectName")
        </th>

        <th>
            @Html.DisplayName("Skills")
        </th>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.FirstName+" "+item.LastName, "Details", "Employee", new { id = item.EmployeeId }, new { @class = "modal-link" })
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilicusExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestQualification)
            </td>
            <td>
                @Html.Label(item.Contact.EmailAddress)
            </td>
            <td>
                @Html.Label("" + item.Contact.MobileNumber)
            </td>
            <td>
                @Html.Label(item.CubicleLocation.Building +
                item.CubicleLocation.FloorNumber +
                item.CubicleLocation.DeskNumber)
            </td>
            <td>
                @foreach (var project in item.Projects)
                {
                    @Html.Label(project.ProjectName + ",")
                }
            </td>
            <td>
                @foreach (var skills in item.SkillSets)
                {
                    @Html.Label(skills.Name)
                }
            </td>
        </tr>


        }

    </table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")



<script type="text/javascript">
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });

        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>
