@model IEnumerable<Silicus.Finder.Web.ViewModel.EmployeesListViewMode>

@{
    ViewBag.Title = "GetAllEmployees";
}

<br/>
<br/>

<h4>List Of Employees</h4>

<br />
<p>
    <input type="submit" value="Add Employee" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Create", "Employee") + "'");" />
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilicusExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighestQualification)
        </th>
        <th>
            @Html.DisplayName("Email Id")
        </th>
        <th>
            @Html.DisplayName("Contact")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CubicleLocationId)
        </th>
        <th>
            @Html.DisplayName("ProjectName")
        </th>

        <th>
            @Html.DisplayName("Skills")
        </th>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new { id = item.EmployeeId })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilicusExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestQualification)
            </td>
            <td>
                @Html.Label(item.Contact.EmailAddress)
            </td>
            <td>
                @Html.Label("" + item.Contact.MobileNumber)
            </td>
            <td>
                @Html.Label(item.CubicleLocation.Building +
                item.CubicleLocation.FloorNumber +
                item.CubicleLocation.DeskNumber)
            </td>
            <td>
                @foreach (var project in item.Projects)
                {
                    @Html.Label(project.ProjectName + ",")
                }
            </td>
            <td>
                @foreach (var skills in item.SkillSets)
                {
                    @Html.Label(skills.Name)
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>
        </tr>


        }

    </table>
