@model IEnumerable<Silicus.Finder.Web.ViewModel.EmployeesListViewMode>

@{
    ViewBag.Title = "GetEmployeesList";
}
<br />
<br />
<br />
<h4><i>List of all employees</i></h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilicusExperienceInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighestQualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </th>

        <th>
            @Html.DisplayName("Email Id")
        </th>

        <th>
            @Html.DisplayName("Mobile")
        </th>

        <th>
            @Html.DisplayName("Location")
        </th>

        <th>
            @Html.DisplayName("ProjectName")
        </th>


        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new { id = item.EmployeeId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilicusExperienceInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestQualification)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType)
            </td>

            <td>
                @{
            var emailId = Model.Select(p => p.Contact.EmailAddress);
                }
                @Html.DisplayFor(modelItem => emailId)

            </td>

            <td>
                @{

            var mobile = Model.Select(p => p.Contact.MobileNumber);
                }

                @Html.DisplayFor(modelItem => mobile)

            </td>

            <td>
                @{
            var location = Model.Select(p => p.CubicleLocation.Building + "/" +
                        p.CubicleLocation.FloorNumber + "/" +
                        p.CubicleLocation.DeskNumber);
                }
                @Html.DisplayFor(modelItem => location)
            </td>


            <td>
                @{

            var projectName = Model.Where(p => p.Projects.Any(e => e.ProjectId.Equals(p.ProjectId))).Select(pm => pm.ProjectId);

            }
            @Html.DisplayFor(modelItem => projectName)
        </td>


        @*<td>
                <ul>
                    <li>
                        @item.skillSetList
                    </li>
                </ul>
            </td>*@

        <td></td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
        </td>
    </tr>


        }

    </table>
