@model IEnumerable<Silicus.Finder.Web.ViewModel.ProjectListViewModel>

@{
    ViewBag.Title = "ProjectList";
}
<h2>ProjectList</h2>
<br />
<br />
<p>    
    <input type="submit" value="Create Project" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("CreateProject", "Projects") + "'");" style="margin-left:890px" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManagerId)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="">@Html.DisplayFor(modelItem => item.ProjectName)</a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngagementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedEndDate)
            </td>
            <td>               
                @foreach(var employee in item.Employees.Where(e => e.EmployeeId == item.EngagementManagerId))
                {
                    @Html.Label(employee.FirstName + " " + employee.LastName)
                }
                             
            </td>
            <td>          
                @foreach (var employee in item.Employees.Where(e => e.EmployeeId == item.ProjectManagerId))
                {
                    @Html.Label(employee.FirstName+ " " +employee.LastName)
                }
            </td>
            <td>
                @{
                    if (item.Status.ToString() == "Completed")
                    {
                        <a href="">
                            <img src="~/Images/Project/projectarchive.png" width="22" height="22" />
                        </a>
                    }
                    else
                    {
                        <img src="~/Images/Project/projectarchive.png" width="22" height="22" />
                    }
                }                    
            </td>
        </tr>
    }

</table>       