@model IEnumerable<Silicus.Finder.Web.ViewModel.ProjectListViewModel>

@{
    ViewBag.Title = "ProjectList";
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<head>
    <title>test</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        #dialog-confirm {
            display: none;
        }

        a.classname {
            background: url('../../Images/Project/project_archive.png') no-repeat;
            display: block;
            width: 150px;
            height: 150px;
            text-indent: -9999px; /* hides the link text */
        }

    </style>

</head>

<h2>Project List</h2>

<p>
    <input type="submit" value="Create Project" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("CreateProject", "Projects") + "'");" style="margin-left:890px" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManagerId)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ProjectName + "-" + item.ProjectId, "GetProjectDetails", new { projectId = item.ProjectId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngagementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedEndDate)
            </td>
            <td>
                @foreach (var employee in item.Employees.Where(e => e.EmployeeId == item.EngagementManagerId))
                {
                    @Html.Label(employee.FirstName + " " + employee.LastName)
                }

            </td>
            <td>
                @foreach (var employee in item.Employees.Where(e => e.EmployeeId == item.ProjectManagerId))
                {
                    @Html.Label(employee.FirstName + " " + employee.LastName)
                }
            </td>
            <td>

            <td>
                @{
                    if (item.Status.ToString() == "Completed")
                    {
                         @Html.ActionLink("Archive", "DeleteProject", new { projectId = item.ProjectId }, new { @class = "classname", id = "#dialog-confirm" })
                        @*<a projectid=3 href="#" id="archImg" onclick="OpenPopupWindow()"><img id="archiveimg" src="/Images/Project/project_archive.png" width="22" height="22" /></a>*@
                        <a projectid=@item.ProjectId href="#" data-foo="@item.ProjectId" id="archImg" onclick="OpenPopupWindow()"><img id="archiveimg" src="~/Images/Project/project_archive.png" width="22" height="22" /></a>
                    }
                    else
                    {
                        <img src="~/Images/Project/project_archive.png" width="22" height="22" />
                    }
                }
            </td>
        </tr>
    }
</table>

<div id="dialog-confirm">
    Are you sure, you want to Archive this Project ?
</div>

<script type="text/javascript">

    
    @*var message = '@message';
    if (message)
        alert(message);*@

    //alert('load load ');
    //var load = 1;
    //if (load == 1) {
    //    load = 2;
    //    location.reload(true);
    //}

    //window.onload = function () {
    //    location.reload(true);
    //};

    //$(document).on("pageload", function () {
    //    alert('loaded');
    //});

    //$(document).ready(function () {
    //    $("a").click(function () {
    //        alert("The paragraph was clicked. jhjh ");
      
    //    });
    //});
    
    @*@ViewBag.projectID = id;
    var i = @ViewBag.projectID;*@

    function OpenPopupWindow() {

        var el = document.getElementById('archImg').getAttribute('projectid');
        var eel = el.getAttribute('data-foo');
        alert(el + "yha hu mai");

        var id = $("#archImg").attr("projectid");
       // var id = $('a[href="#"]').data('id');
        alert(id+ 'demo');

        
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Confirm Archive",
            height: 250,
            width: 400,
            buttons: {
                "Yes": function ()
                {
                    $(this).dialog('close');
                    $("dialog-confirm").css("display: block");
                    $.get('@Url.Action("DeleteProject", "Projects", new { projectId = 2 })');

                    //window.location.href = window.location.href;
                    // location.reload(true);

                    @*$.ajax({
                        //data : { id1 : id },
                        //idd : id,
                        url: '@Url.Action("DeleteProject", "Projects", new { projectId = @ViewBag.projectID })',
                        type: "GET",
                        success : ({
                            // to do
                        })
                    })*@
                },
                "No": function () {
                    $(this).dialog('close');
                }
            }
        });
    }
</script>